.navbar {
  background-color: #bff37c  ; 
  padding: 15px 20px;
  border-bottom: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-brand {
  font-size: 22px;
  font-weight: bold;
  color: #241e1e;
  text-decoration: none;
  padding-bottom: 20px;
}


.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #007bff; }

